* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Tajawal", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.login--container {
  display: flex;
  flex-direction: column;
  border: 3px solid aliceblue;
  justify-content: start;
  align-items: center;
  background-color: rgb(244, 247, 247);
  width: 300px;
  height: fit-content;
  border-radius: 29px;
  gap: 11px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login--title {
  padding-left: 38px;
  font-size: 28px;
  padding-top: 29px;
  align-self: flex-start;
}
.quran {
  font-weight: 700;
  padding-right: 10px;
}
.hadith {
  color: rgba(128, 128, 128, 0.582);
  font-weight: 500;
}
h1 {
  text-align: center;
  color: rgba(56, 225, 56, 0.834);
}
.input p {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.input input {
  height: 34px;
  width: 255px;
  border-radius: 5px;
  outline: none;
  border: 4px solid #eee;
  font-size: 16px;
  font-weight: 500;
}
.login--btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.login--btn input {
  color: #fff;
  background-color: rgb(25, 169, 25);
  padding: 5px 15px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login--register {
  align-self: stretch;
  padding-left: 38px;
}
div a {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.erreur {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 14px !important;
  color: rgba(255, 0, 0, 0.664);
}
.login--link {
  background-color: rgb(25, 169, 25);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.back--red {
  background-color: rgba(255, 0, 0, 0.211);
}
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 99px;
  height: 99px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(29, 26, 26);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden{
  display: none;
}