*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Tajawal', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.signup--container{
  display: flex;
  flex-direction: column;
  border: 3px solid aliceblue;
  justify-content: start;
  align-items: center;
  background-color: rgb(244, 247, 247);
  width: 360px;
  height: 660px;
  border-radius: 29px;
  gap: 11px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.signup--title{
  padding-left: 47px;
  font-size: 28px;
  padding-top: 29px;
  align-self: flex-start;
}
.quran{
 font-weight:700;
 padding-right: 10px;
}
.hadith{
  color: rgba(128, 128, 128, 0.582);
  font-weight: 500;
}
h1{
  text-align: center; 
  color: rgba(56, 225, 56, 0.834);
}
.input p{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.input input{
  height: 34px;
  width: 255px;
  border-radius: 5px;
  outline: none;
  border: 4px solid #eee;
  font-size: 16px;
  font-weight: 500;
 
}
.signup--btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.signup--btn input{
  color: #fff;
  background-color: rgb(25, 169, 25);
  padding: 5px 15px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.signup--register{
  align-self: stretch;
  padding-left: 38px;
}
.login--link{
  font-size: 25px;
  color: #000;
  font-weight: 600;
  padding-left: 15px;
}
.erreur{
  padding-top: 5px;
  padding-left: 20px;
  font-size: 14px !important;
  color: rgba(255, 0, 0, 0.664);
}
.signup--link{
 background-color:rgb(25, 169, 25) ;
 padding-right: 5px;
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 padding:0px 7px;
 border-radius: 6px;
 font-weight:600 ;
 cursor: pointer;
 text-decoration: none;
}
.back--red{
 background-color: rgba(255, 0, 0, 0.211);
}
