@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Tajawal', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: rgba(125, 166, 180, 0.522);
}

.gr--content {
  background-color: #fff;
  display: grid;
  grid-template-columns: 90px auto auto auto 240px;
  gap: 30px;
  margin: 7%;
  width: 90vw;
  border-radius: 30px;
  height: 90vh;
  position: relative;
}

.nav--bar--right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5%;
}
.nav--bar--right img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  background: #fff;
  padding: 7px;
  margin-left: 30px;
  border-radius: 50%;
}
.scroll-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 20px;
  width: 220px;
  overflow-y: scroll;
  margin-bottom: 50px;
  order: 4;
}
.scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(112, 68, 68, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgb(97, 168, 175);
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.middle--container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(112, 68, 68, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.middle--container::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.middle--container::-webkit-scrollbar-thumb {
  background-color: rgb(97, 168, 175);
  border-radius: 10px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.scroll-bar-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgba(154, 154, 238, 0.482);
  padding: 5px 11px;
  border-radius: 16px;
  align-self: start;
}
.scroll-bar-btns button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.scroll-bar-search {
  background-color: #eee;
  height: 30px;
  width: 190px;
  border: none;
  border-radius: 20px;
  align-self: start;
  font-size: 19px;
  padding: 7px;
  font-weight: 500;
}
.scroll-bar-content {
  max-height: 100%;
  align-self: stretch;
  padding-left: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
.scroll-bar-content p:hover {
  background-color: #eee;
  cursor: pointer;
}

.item5 {
  order: 6;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: start;
  overflow-y: scroll;
  margin-bottom: 50px;
}
.item5 span {
  font-size: 40px;
  font-weight: 600;
}
.item5 p {
  font-size: 27px;
  font-weight: 500;
  line-height: 2.2;
  margin-left: 30px;
  margin-right: 50px;
  direction: rtl;
  font-family: 'Amiri Quran', serif !important;
}
.logo {
  width: 40px;
  margin: 30px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-end: span 5;
}
.logo--img--text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo--quran {
  font-weight: 700;
  padding-right: 10px;
  font-size: 20px;
}
.logo--hadith {
  color: rgba(128, 128, 128, 0.582);
  font-weight: 500;
  font-size: 20px;
}
.input--search {
  width: 270px;
  height: 45px;
  border: 3px solid #eee;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.4px;
  border-radius: 19px;
  margin-right: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 12px;
}
::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.504);
  font-weight: 600px;
  padding-left: 18px;
}
.left--bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  order: 2;
  margin-bottom: 15px;
}
.menu--bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.log--out {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}
.left--bar button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.left--bar button img {
  width: 30px;
}
.right--bar {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 200px;
  gap: 30px;
  order: 7;
}
.right--options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
}
.profile {
  width: 86px;
}
.reading {
  width: 50px;
  margin-left: 60px;
}
.headset {
  margin-left: 30px;
}
.profile--owner {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 54px;
}
.last--read {
  font-weight: 600;
  color: rgb(48, 163, 145);
}
.sourat--opened {
  font-weight: bold;
}
.middle--container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  background-color: rgba(149, 149, 204, 0.346);
  overflow-y: scroll;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  order: 5;
  grid-column: span 3;
}
.sorted--bar img {
  width: 25px;
}
.sorted--bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding-right: 14px;
}
.sort--way {
  display: flex;
  border-radius: 7px;
  padding: 7px 16px;
  cursor: pointer;
  margin-top: 22px;
  margin-right: 22px;
  border: 3px solid rgb(199, 185, 185);
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sort--with {
  font-weight: 700;
}
.back-fff {
  background-color: #fff;
}
.sourah--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.sourah--container:hover {
  transform: scale(1.088);
  transition: 0.8s ease;
}
.english-meaning {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 9px;
}
.arabic-meaning {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-right: 9px;
}
.arabic-meaning i {
  font-size: 23px;
  margin-bottom: 18px;
}
.english-meaning div {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 128, 0, 0.265);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
  margin-bottom: 18px;
}
.english-meaning span {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
.english-meaning p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(168, 159, 159, 0.609);
  text-transform: capitalize;
}
.arabic-meaning i {
  color: green;
}
.arabic-meaning span {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
}
.arabic-meaning p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(168, 159, 159, 0.609);
  text-transform: capitalize;
}
.sourah--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  padding: 10px;
  row-gap: 17px;
  column-gap: 14px;
  justify-content: center;
  align-items: center;
}

.rotation {
  transform: rotate(180deg);
  transition: 1s;
}
.audio {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
@keyframes ldio-dmkndh94j8c {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-dmkndh94j8c div {
  left: 130.19px;
  top: 66.48px;
  position: absolute;
  animation: ldio-dmkndh94j8c linear 1s infinite;
  background: #fe718d;
  width: 16.62px;
  height: 33.24px;
  border-radius: 8.31px / 16.62px;
  transform-origin: 8.31px 72.02px;
}
.ldio-dmkndh94j8c div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}
.ldio-dmkndh94j8c div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-gnyg9i1iyg {
  width: 277px;
  height: 277px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-dmkndh94j8c {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dmkndh94j8c div {
  box-sizing: content-box;
}
.ldio-dmkndh94j8c {
  position: absolute;
  top: 40%;
  right: -40%;
  z-index: 999;
}
.hidden {
  display: none;
}

/* ---------------------media query -------------------------- */

@media only screen and (max-width: 1200px) {
  .item6 {
    display: none;
  }
  .item5 {
    grid-column: span 3 !important;
  }
  .middle--container {
    grid-column: span 4;
  }
  .sorted--bar {
    gap: 3px;
  }
  .sort--way {
    width: -60%;
    padding: -30%;
    font-size: 82%;
    padding: 7px;
  }
  .sourah--grid {
    grid-template-columns: repeat(auto-fill, 190px);
  }
  .sourah--container {
    height: 100px;
  }
  .item5 span {
    font-size: 140%;
    text-align: center;
  }
  .item5 p {
    font-size: 130%;
  }
  .left--bar {
    width: 70%;
  }
  .left--bar button {
    width: 10px;
  }
  .left--bar button img {
    width: 20px;
  }
  .scroll-bar {
    width: 130px;
  }
  .scroll-bar-btns {
    width: 90% !important;
    gap: 11px;
  }
  .scroll-bar-btns button {
    font-size: 88%;
  }
  .scroll-bar-search {
    width: 90% !important;
    font-size: 16px;
  }
  ::placeholder {
    font-size: 80%;
  }
  .sourah--from--text {
    font-size: 79%;
  }
  .gr--content {
    column-gap: 20px;
  }
  .input--search {
    display: none;
  }
  .headset--btn {
    width: 40px;
  }
  .audio {
    height: 40px;
  }
}

@media only screen and (max-width: 605px) {
  .sorted--bar {
    flex-direction: column;
    gap: 0px;
  }
  .sort--way {
    margin-top: 8px;
  }
  .item5 p {
    font-size: 12px !important;
  }
}
